.PostInList ul,
li {
  list-style: none;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.PostInList .title {
  font-size: 24px;
  font-weight: 700;
}

.PostInList .thought {
  padding-bottom: 30px;
}
